# Evita error "invalid file request public/storage" (enlace simbolico en Windows)
public/storage

/vendor
/node_modules

.git
.github
.idea
.vscode

.env
.env.*
!.env.example

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail

npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
tests

.DS_Store
Thumbs.db
